In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller, coint

arr = np.loadtxt("prices.txt")
df  = pd.DataFrame(arr.T, 
                   index=pd.RangeIndex(arr.shape[1], name="day"), 
                   columns=[f"inst{i}" for i in range(arr.shape[0])])

# Shape & missingness
print(df.shape)
print(df.isna().sum())

# Head / tail
display(df.head(), df.tail())

(50, 750)
inst0      0
inst1      0
inst2      0
inst3      0
inst4      0
          ..
inst745    0
inst746    0
inst747    0
inst748    0
inst749    0
Length: 750, dtype: int64

,inst0,inst1,inst2,inst3,inst4,inst5,inst6,inst7,inst8,inst9,...,inst740,inst741,inst742,inst743,inst744,inst745,inst746,inst747,inst748,inst749
day,,,,,,,,,,,,,,,,,,,,,
0,38.25,38.11,37.90,37.64,37.70,37.67,37.60,37.60,37.70,37.56,...,36.68,36.65,36.81,36.75,36.53,36.49,36.30,36.58,36.43,36.24
1,69.06,69.98,69.56,69.39,69.71,69.90,69.62,69.57,70.04,69.81,...,52.62,52.75,52.39,51.84,51.63,51.34,50.95,50.80,51.19,50.64
2,62.08,62.39,62.82,63.26,64.04,64.37,65.54,64.89,65.13,64.86,...,42.34,42.59,42.93,42.62,43.69,45.11,44.66,44.25,44.02,43.43
3,31.80,31.74,31.57,31.56,31.42,31.01,31.72,31.75,32.06,31.92,...,29.75,30.21,30.03,30.07,29.86,29.37,29.32,29.17,29.11,29.01
4,63.01,62.49,62.74,61.85,62.02,62.22,62.07,61.81,61.48,60.87,...,39.49,39.21,39.10,39.42,39.65,39.73,39.85,40.01,40.01,40.03

,inst0,inst1,inst2,inst3,inst4,inst5,inst6,inst7,inst8,inst9,...,inst740,inst741,inst742,inst743,inst744,inst745,inst746,inst747,inst748,inst749
day,,,,,,,,,,,,,,,,,,,,,
45,28.62,28.47,28.48,28.59,28.55,28.38,28.28,28.43,28.22,28.32,...,30.02,30.23,30.40,30.53,30.49,30.62,30.87,30.83,30.81,30.94
46,72.03,72.11,72.54,73.75,74.32,75.17,75.69,76.42,75.90,76.75,...,84.96,85.73,86.32,85.97,85.36,85.74,85.88,86.15,86.42,86.86
47,24.02,24.04,23.76,23.97,24.01,24.32,24.26,24.36,24.11,23.93,...,16.05,16.01,16.08,16.31,16.34,16.13,15.91,15.81,15.75,15.74
48,76.03,76.05,75.66,75.71,75.77,75.58,76.22,75.42,75.03,74.91,...,81.33,81.16,81.82,81.86,81.92,81.57,80.50,80.93,80.80,80.50
49,27.50,27.54,27.55,27.74,27.54,27.54,27.69,27.52,27.35,27.23,...,31.64,31.76,32.14,32.12,32.27,31.53,31.65,31.83,31.78,31.59